<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Contract Time Contingent</h2>
            <h3 class="oe_slogan">
                Manage time contingents on contract and get reminded by
                email, when remaining time is low.
            </h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            Manageable table of time contingents on contracts
        </h2>
        <div class="oe_span6">
            <p class="oe_mt32">
                Manage time contingents for a contract in a table. The
                calculated remaining time is shown on contracts.
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_picture" src="screenshot_time_contingent_table.png"
                 alt="Screenshot">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Automatic reminder emails</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture"
                     src="screenshot_email_reminder.png" alt="Screenshot">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                An email is automatically sent, when the remaining time amount
                of a contract drops below 10% of the purchased time.
                A second email is sent, when the time is completely consumed.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_centered oe_muted">
            More information about Odoo Services of
            <a style="color:#6d57e0" href="https://jamotion.ch/"
               target="_blank">Jamotion GmbH here...</a>
        </div>
    </div>
</section>